<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <ResourceId>/subscriptions/acb78446-b08d-470e-9e7a-5f5ebf41df28/resourcegroups/hackathonBugReporter/providers/Microsoft.ContainerRegistry/registries/Infrastructure20231123150722</ResourceId>
    <ResourceName>Infrastructure20231123150722</ResourceName>
    <ResourceGroup>hackathonBugReporter</ResourceGroup>
    <Subscription>Daniel Richardson 1</Subscription>
    <RegistryUrl>infrastructure20231123150722.azurecr.io</RegistryUrl>
    <PublishImageTag>latest</PublishImageTag>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <_TargetId>NetSdkAzureConsoleContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>